@import "common.less";
@import "reset.less";   
.data-list{
    padding: 0.5rem;
}
.data-list ul{
    padding: 0.5rem 0;
    align-items:center;
    text-align: center;
    font-size: 0.8rem;  
    border-bottom: 1px solid @beauty-gray;
    
} 
.data-list ul li{
    font-size: 0.7rem;
}
.data-list ul li p{
    line-height: 1.2rem;
    color: #999999;
}
.data-list ul li p span{
    color: @beauty-green;
    font-size: 0.9rem;
}
.data-list ul li .staff-name{
    color: #333333;
}
.data-list li:nth-child(1){
    width: 15%;
}
.data-list li:nth-child(1) img{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.data-list li:nth-child(2){
    width: 20%;
}
.data-list li:nth-child(3){
    width: 32%;
}
.data-list li:nth-child(4){
    width: 33%;
}

